.Card {
  margin: 5px;
  border: 3px solid #000;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.Card .Footer {
  background-color: #000;
  padding: 5px 0px;
}
.Card .Content {
  flex: 1;
  background-color: whitesmoke;
  color: #000;
  padding: 15px 0px;
}
